* {
	font-family: Arial;
}

body {
	background: blueviolet;
}

.box {
	display: grid;
	grid-template-columns: 1fr 1fr 1fr;
	gap: 10px 2em;
  }
  
  .box :first-child {
	  align-self: center;
  }

  .textarea {
	width: 150px;
	height: 150px;
	padding: 12px 20px;
	box-sizing: border-box;
	border: 2px solid #ccc;
	border-radius: 4px;
	background-color: #EFDEB8;
	font-size: 16px;
	resize: none;
  }

  textarea1 {
	width: 250px;
	height: 250px;
	padding: 20px 40px;
	box-sizing: border-box;
	border: 2px solid #ccc;
	border-radius: 4px;
	background-color: blue;
	font-size: 16px;
	resize: none;
  }
		





