* {
	font-family: Arial;
}

body {
	background: blueviolet;
}





.about {
	margin-top: 60px; /* Adds spacing above the container */
}



.name {
	text-align: center; /* Aligns our text in the center */
}

.button {
	background: white;
	color: black; /* text colour */
	display: block; /* Makes each button on it's own line */
	height: 60px;
	width: 400px;
	border-radius: 20px; 
	margin: 20px auto; /* Adds spacing to the button and centers it */
	text-decoration: none; /* Removes underline from hyperlink */
	text-align: center;
	font-weight: bold; /* Bolds the text */
	line-height: 60px; /* Vertically aligns the text */
	font-size: 20px;
}

.button_icon {
	position: relative; /* Allows us to reposition our elements */
	float: left; /* Moves our image to the left without affecting the elements relative to it */
	width: 25px;
	height: 25px;
	left: 50px; /* Moves the image left by 50px */
	top: 15px; /* Moves the image down by 15px to align it vertically */
}



