* {
	font-family: Arial;
}

.button {
	background: white;
	color: white;
	display: block;
	height: 60px;
	width: 300px;
	border-radius: 20px;
	margin: 20px auto;
	text-decoration: none;
	text-align: center;
	font-weight: bold;
	line-height: 60px;
	font-size: 20px;
	transition: 0.3s;
	position: absolute;
}


.button:hover {
	background: #2079b0;
	background-image: -webkit-linear-gradient(top, #2079b0, #eb94d0);
	background-image: -moz-linear-gradient(top, #2079b0, #eb94d0);
	background-image: -ms-linear-gradient(top, #2079b0, #eb94d0);
	background-image: -o-linear-gradient(top, #2079b0, #eb94d0); 
	background-image: linear-gradient(to bottom, #2079b0, #eb94d0);
	text-decoration: none;
  }


		





