* {
	font-family: Arial;
}

/* Add the same emoji color to the background color of the top navigation */
.topNavigation {
    background-color: #EAEFF9;
    overflow: hidden;
}

img {
	margin: 0.5%;
	border-radius: 50%;
	width: 30%;
	box-shadow: 0 10px 10px rgba(0, 0, 0, 0.1);
  }

/* Style the links inside the navigation bar */
.topNavigation a {
    float: left;
    color: black;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
    /* font-family: 'Times New Roman', Times, serif; */
}

/* Change the color of links on hover */
.topNavigation a:hover {
    background-color: #002145;
    color: white;
}

/* Add a color to the active/current link */
.topNavigation a.active {
    background-color: #FFC645;
    color: black;
}




.about {
    margin-top: 60px;
    text-align: center;
	color: black;
}

.name {
	font-family: copperplate;
	font-size: 70px;
}

/* .description {
	font-family: copperplate;
	font-size: 20px;
} */



.button {
	background: white;
	color: white;
	display: block;
	height: 60px;
	width: 300px;
	border-radius: 20px;
	margin: 20px auto;
	text-decoration: none;
	text-align: center;
	font-weight: bold;
	line-height: 60px;
	font-size: 20px;
	transition: 0.3s;
	position: absolute;
}


.button:hover {
	background: #2079b0;
	background-image: -webkit-linear-gradient(top, #2079b0, #eb94d0);
	background-image: -moz-linear-gradient(top, #2079b0, #eb94d0);
	background-image: -ms-linear-gradient(top, #2079b0, #eb94d0);
	background-image: -o-linear-gradient(top, #2079b0, #eb94d0); 
	background-image: linear-gradient(to bottom, #2079b0, #eb94d0);
	text-decoration: none;
  }

  .addnote {
	background: white;
	color: #0b3851;
	/* outline: 2px solid #0b3851; */
	display: block;
	height: 70px;
	width: 70px;
	border-radius: 15px;
	margin: 0px auto;
	text-decoration: none;
	text-align: center;
	line-height: 70px;
	font-size: 60px;
	



  }






		





