 /* Add the same emoji color to the background color of the top navigation */
      .topNavigation {
      background-color: #EAEFF9;
      overflow: hidden;
    }

    /* Style the links inside the navigation bar */
    .topNavigation a {
      float: left;
      color: black;
      text-align: center;
      padding: 14px 16px;
      text-decoration: none;
      font-size: 17px;
      font-family: Arial;
    }

    /* Change the color of links on hover */
    .topNavigation a:hover {
      background-color: #002145;
      color: white;
    }

    /* Add a color to the active/current link */
    .topNavigation a.active {
      background-color: #FFC645;
      color: black;
    }

      h2 {
        text-align: center;
        border-radius: 10px;
        border: 1px solid blueviolet;
        padding: 15px;
      }

      img {
        margin-top: 2.5em;
        border-radius: 50%;
        width: 30%;
        box-shadow: 0 10px 10px rgba(0, 0, 0, 0.1);
      }

      p {
        font-size: 3.2vw;
        line-height: 1.5;
        text-align: center;
      }

      button {
        width: 35%;
        background: #FFC645;
        color: #EAEFF9;
        border: none;
        padding: 15px;
        font-size: 150%;
        border-radius: 10px;
        box-shadow: 0 10px 10px rgba(0, 0, 0, 0.1);
        margin: 10px 7%;
      }

      body {
          background: linear-gradient(-45deg, #e8dff5, #f598a8, #fcf4dd, #b3dbd3, #69b7eb);
          background-size: 400% 400%;
          animation: gradient 20s ease infinite;
      }

      @keyframes gradient {
          0% {
              background-position: 0% 50%;
          }
          50% {
              background-position: 100% 50%;
          }
          100% {
              background-position: 0% 50%;
          }
      }

      .thought {
        display:flex;
        background-color:#F5F5F5;
        padding:20px;
        border-radius:30px;
        width: 50%;
        margin: 5% auto;
        position:relative;
        align-items:center;
        justify-content:center;
        text-align:center;
        font-size: 200%;
        font-family: Copperplate;

      }

       .thought:before,
       .thought:after {
         content:"";
         background-color:#F5F5F5;
         border-radius:50%;
         display:block;
         position:absolute;
         z-index:-1;
         box-shadow: 0 10px 10px rgba(0, 0, 0, 0.1);
       }


        .thought:before {
          width:44px;
          height:44px;
          top:-12px;
          left:28px;
          box-shadow:-50px 30px 0 -12px #F5F5F5;
          box-shadow: 0 10px 10px rgba(0, 0, 0, 0.1);
        }

        .thought:after {
          bottom:-10px;
          right:26px;
          width:30px;
          height:30px;
          box-shadow:40px -34px 0 0 #F5F5F5,
                     -28px -6px 0 -2px #F5F5F5,
                     -24px 17px 0 -6px #F5F5F5,
                     -5px 25px 0 -10px #F5F5F5;

        }

        .bubble {
          position: relative;
          font-family: sans-serif;
          font-size: 18px;
          line-height: 24px;
          width: 30%;
          background: #fff;
          border-radius: 40px;
          padding: 24px;
          text-align: center;
          color: #000;
          margin: 4% 7%;
          border-bottom: 20px solid transparent;
          box-shadow: 0 10px 10px rgba(0, 0, 0, 0.1);
          display: inline-block;
          align: top;

        }

        .bubble-bottom-left:before {
          content: "";
          width: 0px;
          height: 0px;
          position: absolute;
          border-left: 24px solid #fff;
          border-right: 12px solid transparent;
          border-top: 12px solid #fff;
          border-bottom: 20px solid transparent;
          left: 32px;
          bottom: -24px;
          display: inline-block;
        }

        .bubble-bottom-right:before {
          content: "";
          width: 0px;
          height: 0px;
          position: absolute;
          border-right: 24px solid #fff;
          border-left: 12px solid transparent;
          border-top: 12px solid #fff;
          border-bottom: 20px solid transparent;
          right: 32px;
          bottom: -24px;
          display: inline-block;
        }

        .contact{
        font-size: 100%;
        background: #002145;
        }

      footer {
        text-align: center;
        font-size: 12px;
        color: white;
      }
